/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fredoka', sans-serif;
}

/* 
    GENERAL
*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.pink-color {
    color: #E53170;
}

/* 
    MAIN
*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
}

h1 +  p {
    margin: 50px 0;
    text-align: center;
}

.columns > * {
    float: left;
    width: calc((100% / 3) -40px);
    margin: 20px;
}

.columns > * > img {
    height: 100px;
    vertical-align: middle;
}

.cards > * {
    float: left;
}

.card-description {
    height: 100px;
    width: 250px;
    background-color: #0F0E17;
    color: white;
}

.card-text {
    padding: 10px 0px 15px 15px;
    vertical-align: middle;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: #48adcc;
}

